@import '../../Scss/media.scss';

.booksDiv {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;

    &__cardWrapper {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        @include phone{
            grid-template-columns: 1fr;
        }

        @include tablet{
            grid-template-columns: 1fr 1fr;
           }
    }
}
