
.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox{
    margin: 10px;
    width: 20rem;
    height: 2rem;
}
.searchBtn{
    margin: 10px;
    width: 10rem;
    height: 2.5rem;
    border: none;
}
